@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
/*------------Globa----------*/
.container {
  max-width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/*------------Globa----------*/
/*------------header----------*/



  header .icon {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-links-sidebar {
    position: absolute;
    display: block;
    background-color: #fff;
    left: 50px;
    top: 75px;
    transition: 0.5s;
    width: 100%;
    height: 30vh;
    z-index: 5;
  }

  .nav-links-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li {
    margin-bottom: 30px;
  }

  .navbar-items-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
  }

/*------------header----------*/
/*------------ home ----------*/
.left,
.right {
  width: 50%;
  position: relative;
}
.flex {
  display: flex;
}
.topMarign {
  margin-top: 80px;
}
.home {
  height: 90vh;
}
.home .img {
  height: 90vh;
  width: 100%;
  position: relative;
}
.home img {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}
.home h1 {
  font-size: 60px;
}


button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #38d16a;
}
.primary-btn:hover {
  background: #f54ea2;
  box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}
.home .right {
  margin-top: 15%;
}
.home .SocailIcon {
  margin: 30px 0;
}
.home p {
  margin-bottom: 20px;
}
p {
  color: #6185a5;
  line-height: 30px;
}
/*------------ home ----------*/
/*------------ Branding ----------*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.Branding {
  background-color: #08071c;

  margin-top: 35px;
  padding: 80px 0;
}
.Branding h1 {
  font-size: 40px;
  color: #63cae1;
  margin-right: 20px;
}
.Branding h2 {
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0 20px 0;
}
.Branding p {

  opacity: 0.7;
}
/*------------ Branding ----------*/
/*------------ about ----------*/
.mtop {
  margin-top: 50px;
}
h3 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #63cae1;
  margin: 20px 0;
}
.heading h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.about p {
  margin-bottom: 20px;
}
.about .left {
  padding-right: 30px;
}

.about .img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.about img {
  object-fit: contain;
}


.about .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  right: 0;
  /* background: url('./assets/image1.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 86vh;
  z-index: -1;
}

/*------------ about ----------*/
/*------------ Services ----------*/

/*------------ Services ----------*/
/*------------ wrapper ----------*/




@media screen and (max-width: 768px) {
  /*------------ home ----------*/
  .left,
  .right {
    width: 100%;
  }
  .home .container {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .home {
    height: 134vh;
  }
  .home .img {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .home img {
    position: relative;
    height: 100%;
    width: 100%;
    transform: scale(1);
  }
  /*------------ home ----------*/
  /*------------ Branding ----------*/
  /* .grid {
    grid-template-columns: repeat(1, 1fr);
  } */
  /*------------ Branding ----------*/
  /*------------ about ----------*/
  .about .container {
    flex-direction: column;
  }
  .about .img {
    width: 100%;
    height: 100%;
  }
  .about img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .about .img::after {
    display: none;
  }
  /*------------ about ----------*/
  /*------------ wrapper ----------*/
  .wrapper .container {
    max-width: 80%;
  }
  /*------------ skill ----------*/
  .skill .content {
    flex-direction: column;
  }
  .skill .right {
    padding: 0 0;
  }

  /*------------ skill ----------*/

  /*------------ work ----------*/
  .work {
    height: 340vh;
  }

  .work .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 20vw);
  }

  .work .box:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .work .box:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .work .box:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 11;
  }
  .work .box:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 14;
  }
  .work .box:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 17;
  }
  .work .box:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 20;
  }

  .work .box:nth-child(5)::after,
  .work .box:nth-child(4)::after,
  .work .box:nth-child(3)::after,
  .work .box:nth-child(2)::after,
  .work .box:nth-child(6)::after,
  .work .box:nth-child(1)::after {
    width: 767px;
    height: 550px;
    background: rgba(18, 22, 25, 0.925);
  }

  /*------------ work ----------*/

  /*------------ footer ----------*/
  footer .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }

  /*------------ footer ----------*/
}

.main-app {
  margin-top: 10px;
} 

.resorts-transition {
  display: none;

}

@media (min-width:439px) and (max-width:768px) {
    .grid {
    grid-template-columns: repeat(1, 1fr 1fr);
  } 

}

@media  (max-width:435px) {
    .grid {
    grid-template-columns: repeat(1, 1fr);
  } 

}