.Profile{
display: flex;
justify-content: center;
gap: 50px;
padding: 50px;
}
.Name-Heading{
  font-size: 2rem;
  color: rgb(85, 85, 85);
}
.ProfilePicImg{
  width: 150px;
}

.EditBtn{
  background-color: #aaaaaa;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.EditBtn:hover{
  background-color: #63cae1;
}


@media only screen and (max-width: 600px) {
  .Profile{
    flex-direction: column;
    align-items: center;
  }
}